///////////Initialisation/////////////////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
}

#root {
	min-height: 100%;
}

@media (min-width: 768px) {
	* {
		font-size: 24px;
	}

	main {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media (min-width: 992px) {
	main {
		ul {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

// code {
// 	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
// 		monospace;
// }
