///////////Initialisation/////////////////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;

	button {
		background: none;
		border: none;
		cursor: pointer;
	}
}

#root {
	min-height: 100%;
}

//////MediaQueries///////

/////Change la taille de la police pour changer toute les tailles relatives en rem/////
/// taile de référence, menu de navigation 12px en version mobile, 24 à partir de 768px///
@media (min-width: 768px) {
	* {
		font-size: 24px;
	}

	main {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	//Modification de la distribution des collapses sur la page de détail des logements//
	.sheet__detail {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.collapse {
			width: 49%;
		}
	}

	//Modification de la taile des collapses sur la page à propos//
	.about {
		.about__collapse {
			margin: 0 10%;
		}
	}
}

@media (min-width: 992px) {
	main {
		ul {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

// code {
// 	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
// 		monospace;
// }
